<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ui.CryptoCalc"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme"
        tools:targetApi="31">
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CoinHistory"
            android:windowSoftInputMode="adjustPan"
            android:noHistory="true" />
        <activity android:name=".ui.FuturePnlActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.FutureTargPrice"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.SpotPosSizeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.SpotProfitActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.SpotProfitPriceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.UsageActivity"
            android:windowSoftInputMode="adjustPan"/>

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobappid" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/sdk_key_applovin" />

    </application>

</manifest>